---
layout: main
---

<header class="mb-3">
	<nav id="hc-nav" is="hc-navigation" logo-href="{{ '/' | prepend: site.baseurl }}"></nav>
	<!-- banner -->
	{% include banner.html %}
</header>

<div class="container my-3">

	<div class="row">
		<div class="col-md-8 col-lg-9 order-md-12">
			<!-- live_meeting_video_listing -->
			{% include live_meeting_video_listing.html %}

			<!-- search_tool -->
			{% include search_tool.html %}

			<!-- on_demand_video_listing -->
			{% include on_demand_video_listing.html %}
		</div>
		<div class="col-md-4 col-lg-3">
			<div class="sticky">
				{% include sidebar.html %}
			</div>
		</div>
	</div>

</div>
