---
layout: main
permalink: /video-player
---

<div class="container-full">
	<div class="row no-gutters">
		<div class="col-md-7">

			<div class="custom-flex-column">
				<!-- video_player -->
				{% include video_player.html %}

				<!-- synchronized_agenda_items -->
				{% include synchronized_agenda_items.html %}
			</div>

		</div>
		<div class="col-md-5">

			<ul class="nav nav-tabs nav-fill small" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="agenda-tab" data-toggle="tab" href="#agenda" role="tab" aria-controls="agenda" aria-selected="true">
						Agenda
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="index-tab" data-toggle="tab" href="#index" role="tab" aria-controls="index" aria-selected="false">
						Index
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">
						Search
					</a>
				</li>
			</ul>

			<div class="embed-responsive embed-responsive-tabs">
				<div class="tab-content embed-responsive-item">
					<div class="tab-pane fade show active" id="agenda" role="tabpanel" aria-labelledby="agenda-tab">
						<!-- agenda_document -->
						{% include agenda_document.html %}
					</div>
					<div class="tab-pane fade p-3" id="index" role="tabpanel" aria-labelledby="index-tab">
						<!--  -->
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="tab-pane fade p-3" id="search" role="tabpanel" aria-labelledby="search-tab">
						<!--  -->
						Search
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
