<!-- GEOWEBCAST_COMPONENT -->
<header class="">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">

			<a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">Banner</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li> -->
					<li class="nav-item">
						<a class="nav-link" href="{{ '/' | prepend: site.baseurl }}">Index</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ '/video-player' | prepend: site.baseurl }}">Video Player</a>
					</li>
					<!-- <li class="nav-item"><a class="nav-link" href="{{ '/index-popup-player' | prepend: site.baseurl }}">Index Popup Player</a></li> -->
				</ul>

				<!-- banner keyword search -->
				<form class="form-inline my-2 my-lg-0">
					<div class="input-group">
						<input id="bannerSearchInput" name="bannerSearchInput" class="form-control" type="text" placeholder="Search Meetings" aria-label="Search" required>
						<span class="input-group-btn">
							<button class="btn btn-outline-primary" type="submit">Search</button>
						</span>
					</div>
				</form>

			</div>

		</div>
	</nav>

</header>
