<section class="mb-3">

	<!-- GEOWEBCAST_COMPONENT -->
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th></th>
				<th>
					Meeting Date
					<i class="fa fa-caret-down text-primary"></i>
				</th>
				<th>Category</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody>
			{% for n in (1..30) %}
			<tr>
				<td class="">
					<a href="{{ '/video-player' | prepend: site.baseurl | append: '#' | append: forloop.index }}" target="_blank" onclick="openPlayer(event)">
						<i class="fa fa-play-circle"></i>
						Play
					</a>
				</td>
				<td>date</td>
				<td>category</td>
				<td>duration</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</section>
