<div class="text-right my-3">
	<a href="#advancedSearchModal" class="small text-muted" data-toggle="modal" data-target="#advancedSearchModal">
		<i class="fa fa-fw fa-search"></i>
		Advanced Search
	</a>
</div>

<!-- Modal -->
<div class="modal fade" id="advancedSearchModal" tabindex="-1" role="dialog" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<!-- GEOWEBCAST_COMPONENT -->
			<form>

				<header class="modal-header">
					<h5 class="modal-title" id="advancedSearchModalLabel">
						Search Videos
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</header>

				<div class="modal-body">
					<div class="form-group mb-4">
						<!-- <label for="searchKeywords">Keywords</label> -->
						<input type="text" class="form-control form-control-lg" id="searchKeywords" placeholder="Search Keywords" required>
						<small class="form-text text-muted">Separate keywords with a comma (,).</small>
					</div>

					<div class="form-group mb-4">
						<label for="searchcategories">Categories</label>
						<select multiple class="form-control" id="searchcategories">
							<option value="BOCC and CAC Joint Meeting">BOCC and CAC Joint Meeting</option>
							<option value="BOCC Budget Public Hearing">BOCC Budget Public Hearing</option>
							<option value="BOCC Budget Reconciliation">BOCC Budget Reconciliation</option>
							<option value="BOCC Budget Workshop">BOCC Budget Workshop</option>
							<option value="BOCC Comprehensive Plan">BOCC Comprehensive Plan</option>
							<option value="BOCC Land Use">BOCC Land Use</option>
							<option value="BOCC Public Hearing">BOCC Public Hearing</option>
							<option value="BOCC Regular Meeting">BOCC Regular Meeting</option>
							<option value="BOCC Workshop">BOCC Workshop</option>
							<option value="BOCC Workshop - LDC">BOCC Workshop - LDC</option>
							<option value="Environmental Protection Commission">Environmental Protection Commission</option>
							<option value="Government 101">Government 101</option>
							<option value="Live Meeting">Live Meeting</option>
						</select>
						<small class="form-text text-muted">Select multiple categories by holding the command key.</small>
					</div>

					<div class="form-group mb-4">
						<!-- <label for="searchDates">Meeting Dates</label> -->

						<ul class="nav nav-tabs mb-2 small" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="dates-specific-tab" data-toggle="tab" href="#dates-specific" role="tab" aria-controls="dates-specific" aria-expanded="true">Specific Date</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="dates-range-tab" data-toggle="tab" href="#dates-range" role="tab" aria-controls="dates-range">Date Range</a>
							</li>
						</ul>

						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="dates-specific" role="tabpanel" aria-labelledby="dates-specific-tab">
								<input type="date" name="" class="form-control">
							</div>
							<div class="tab-pane fade" id="dates-range" role="tabpanel" aria-labelledby="dates-range-tab">
								<div class="row no-gutters">
									<div class="col px-1">
										<input type="date" name="" class="form-control">
									</div>
									<div class="col px-1">
										<input type="date" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<footer class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary text-white">Search</button>
				</footer>

			</form>
		</div>
	</div>
</div>
