<!-- GEOWEBCAST_COMPONENT -->
<aside id="SynchronizedAgendaItems" class="">
	<ol class="py-2 pr-0 mb-0 small">

		<!-- past items -->
		{% for n in (1..5) %}
		<li class="sync-agenda-item sync-agenda-item-past">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</li>
		{% endfor %}

		<!-- active item -->
		<li class="sync-agenda-item sync-agenda-item-active">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</li>

		<!-- default items -->
		{% for n in (1..20) %}
		<li class="sync-agenda-item">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</li>
		{% endfor %}

	</ol>
</aside>
