.custom-flex-column {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#SynchronizedAgendaItems {
		// max-height: 100%;
	overflow-y: auto;
	background: #fff;
	@include media-breakpoint-down(sm) {
		max-height: 275px;
	}
	@include media-breakpoint-up(md) {
		flex: 1 1 1px;
	}
}

.sync-agenda-item {
	@extend .p-1, .mb-2 ;
	&.sync-agenda-item-past {
		// background: #E7F8F6;
		// @extend .text-muted ;
		color: #C2C2C2;
	}
	&.sync-agenda-item-active {
		background: #FEEC9E;
		color: theme-color('secondary');
	}
}
